<%- include('./includes/head') %>

<body>
    <%- include('./includes/navbar.ejs') %>
    
    <div class="container" style="position: relative;margin: 5% auto;max-width: 30%;">
        <h1>Reset Password</h1>
    
        <% if(msg) { %>
        <p class="btn btn-success"><%= msg %></p>
        <% } %>
        <% if(err) { %>
        <p class="btn btn-danger"><%= err %></p>
        <% } %>
    
        <form action="/resetPassword" method="POST">
    
            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
    
            <div class="form-group">
                <label for="#uEmail">email: </label>
                <input  type="email" name="uEmail" id="uEmail" class="form-control"/>
            </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
</body>
</html>